<div class="media">
  <a class="media-left">
    <img class="track--album-art" src="{{playlistImage}}"/>
  </a>
  <div class="media-body">
    {{playlist.name}}
    <br>
    {{moment-format playlist.snapshotDate 'dddd LL'}}
  </div>
</div>
