{{#if track.explicit}}
  <div class="explict-image pull-xs-right"></div>
{{/if}}
<p class="list-group-item-text">
  <a href="{{track.external_urls.spotify}}" target="_blank">Open Song in Spotify</a>
  <br><br>
  <a href="{{track.album.external_urls.spotify}}" target="_blank">Open Album in Spotify</a>
</p>
