<div class="media">
  <a class="media-left">
    <img class="track--album-art" src="{{track.album.images.0.url}}"/>
  </a>
  <div class="media-body">
    {{track.name}} <br>
    <strong>Album:</strong> {{track.album.name}}
  </div>
  <div class="media-right">
    <span class="tag tag-default tag-pill">{{trackNumber}}</span>
  </div>
</div>
